* {
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
font-weight: 900;
font-size: 1.1rem;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
} 
.App{
  margin: 40px auto;
  width:350px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  box-shadow: 1px 1px 6px rgb(177, 123, 123) ,-1px -1px 6px rgb(177, 123, 123);
  background-color:rgba(206, 98, 98,0.8);
  border-radius: 10px;
  padding:auto 30px;
}

.Menu>button,.end>button{
  padding:1.1rem 2rem;
  border:none;
  border-radius: 5px;
  color:rgb(175, 76, 76);
}
.quiz{
  display: flex;
  flex-direction: column;
  margin:20% auto;
  height: 100%;
  justify-content:space-between;
  gap:10px;
}

.option{
  display: flex;
  flex-direction: column;
  gap:10px;
  
}
.option button{
  padding:10px 20px;
  color:rgb(202, 121, 121)
}
button{
  border-radius: 5px;
  border:none;
}
button:hover{
  transform: scale(0.95);
  cursor: pointer;
}

.ne-prev{
  width:80%;
  display:flex;
  gap:20px;
  justify-content: space-between;
  margin:auto;
}

.ne-prev button{
  width:50%;
  padding:10px 5px;

}
.quiz h1{
  font-size: 1.3rem;
}

.no{
  display:flex;
  justify-content: center;
  padding:10px 0;
}
.no h1{
  border:1px solid white;
  padding:5px 30px;
  border-radius: 5px;
  color:aliceblue;
  background-color:rgb(175, 76, 76);
}
.end h1{
  color:aliceblue;
  font-size: 1.5rem;
  padding: 2rem auto;
  margin:10px auto;
}
@media  screen and (max-width:600px) {
  .App{
    width:300px;
  }
}